<ion-view title="登录" id="page5" class="login-page">
  <ion-content padding="true" class="has-header login-page-content">
    <div class="spacer" style="width: 300px; height: 3rem;"></div>
    <form id="page5-form1" class="list ">
      <h1 id="page5-heading2" style="color:#000000;text-align:center;" class=" ">KS3</h1>

      <p id="page5-markdown1" style="color:#000000;font-size:18px;text-align:center;" class=" ">
        为开发者提供无限制、多备份、分布式的低成本存储空间解决方案</p>

      <div class="spacer" style="width: 300px; height: 39px;"></div>
      <ion-list id="page5-list1" class=" ">
        <label class="item item-input " id="page5-input1">
          <input type="text" placeholder="手机号或邮箱">
        </label>
        <label class="item item-input " id="page5-input2" name="password">
          <input type="password" placeholder="密码">
        </label>
        <label class="item item-input " id="page5-input6" name="captcha">
          <input type="text" placeholder="验证码">
        </label>
      </ion-list>
      <!--<a ui-sref="tabsController.page4" id="page5-button1" class=" button button-stable  button-block login-btn">登录</a>-->
      <a ng-click="login()" id="page5-button1" class=" button button-stable  button-block login-btn">登录</a>
    </form>
    <div>
      <p style="margin: 30px 0">
         <span style="line-height: 32px">社交账号登录 </span>
        <img class="login-sns-icon" ng-click="wxAuthBtnClickHandler()" src="img/wechat_logo32.png">
        <img class="login-sns-icon" ng-click="qqAuthBtnClickHandler()" src="img/qq-32.png">
        <img class="login-sns-icon" ng-click="sinaAuthBtnClickHandler()" src="img/sina_weibo-32.png">
      </p>
    </div>
    <a href="#" onclick="window.open('http://ks3.ksyun.com/doc/api/', '_system', 'location=yes'); return false;" id="page5-button4"
       class=" button button-light button-small ">官方文档</a>
  </ion-content>
</ion-view>
