<ion-view title="秀场" id="page4" class=" show-page">
    <ion-content padding="false" class="has-header">
        <div class="item item-body card-list" id="page4-list-item-container1">
            <div class="list card card" id="page4-card21">
                <ion-item class="item-avatar item-icon-right  avatar-line" id="page4-list-item2">
                  <img src="img/chenjin2.jpg">
                  <h2>霸王别急</h2>
                    <i class="icon ion-android-time"></i>
                </ion-item>
                <div class="main-image item item-image">
                  <img src="img/H0DKSQtQW2rk5LUvFyB2_IMG_1119.JPG" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
            </div>
            <div class="spacer" style="width: 268px; height: 11px;"></div>
            <div class="list card " id="page4-card22">
                <ion-item class="item-avatar item-icon-right  " id="page4-list-item4">
                  <img src="img/chenjin2.jpg">
                  <h2>Item</h2>
                    <i class="icon ion-ios-time-outline"></i>
                </ion-item>
                <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
                    <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
